<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="fragment/mensagens"></div>
	<form th:action="@{/turmas/buscar}" method="get">
		<table>
			<tr>
				<td>Nome Turma:</td>
				<td><input type="text" th:name="nome"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="buscar" /> <input
					type="submit" value="cancelar" formaction="/" formmethod="get" />
				</td>
			</tr>
				
		</table>
	</form>
	<br/>
	<div th:if="${not #lists.isEmpty(turmasEncontradas)}">
		<table>
			<tr>
				<th>Nome</th>
				<th>Data</th>
				<th>Opções</th>
			</tr>
			<tr th:each="t : ${turmasEncontradas}">
				<td th:text="${t.nome}"></td>
				<td th:text="${t.data}"></td>
				<td><a th:href="'/turmas/editar/' + ${t.id}"> Editar </a> <a
					th:href="'/turmas/remover/' + ${t.id}"
					onclick="if(!confirm('Deseja realmente remover a Turma?')) return false; ">
						Remover </a></td>
			</tr>
		</table>
	</div>
</body>
</html>