<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section layout:fragment="corpo">
	<form th:action="@{/usuarios/salvarParente}" th:object="${usuario}"
		method="post" enctype="multipart/form-data">

		<div th:replace="fragment/mensagens"></div>

		<input type="hidden" th:field="${usuario.id}">

		<table>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="${usuario.nome}"></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input type="email" th:field="${usuario.email}"></td>
			</tr>
			<tr>
				<tr>
				<td>CPF:</td>
					<td><input type="text" th:field="${usuario.cpf}">
					</td>
				</tr>
				<tr>
					<td>Matricula:</td>
					<td><input type="text" th:field="${usuario.matricula}">
					</td>
				</tr>
				<tr>
				<td>Senha:</td>
				<td><input type="password" th:field="${usuario.senha}">
				</td>
			</tr>
			<tr>
					<td>Foto:</td>
					<td><input type="file" th:name="file"> 
						<input type="hidden" th:field="${usuario.foto.id}"></td>
				</tr>
			
			<tr>
				<td></td>
				<td><input type="submit"
					th:value="${usuario.id} == 0 ? Cadastrar : Editar"> <input
					type="submit" value="Cancelar" formaction="/" formmethod="get">
				</td>
			</tr>
			</form>
</section>
</body>
</html>