<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge" />
<meta name="viewport"
	content="width-device-width, initial-scale=1, shrink-to-fit=no" />
<title>Insert title here</title>
</head>
<body>	
	
	<section layout:fragment="corpo">
			<h1>Cadastro</h1>
	<a href="/usuarios/cadastroEstudante">Cadastro Estudante</a>
	<br>
	<a href="/usuarios/cadastroProfessor">Cadastro Professor</a>
	<br>
	<a href="/usuarios/cadastroSecretario">Cadastro Secretario</a>
	<br>
	<a href="/usuarios/cadastroParente">Cadastro Parente</a>
	<br>
	<br>
	<a href="/disciplinas/cadastroDisciplina">Cadastro Disciplina</a>
	<br>
	<a href="/turmas/cadastroTurma">Cadastro Turmas</a>
	<br>
	<a href="/usuarios/busca">Buscar Usuarios</a>
	<br>
	<a href="/disciplinas/buscaDisciplina">Buscar Disciplinas</a>
	<br>
	<a href="/turmas/buscaTurma">Buscar Turmas</a>
	<br>
	<form th:action="@{/logout}" name="logoutForm" method="post">
		<input type="submit" value="Sair"> <br>
	</form>
		</section>	
	
</body>
</html>