<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>Cadastro</h1>
	<a href="/usuarios/cadastroEstudante">Cadastro Estudante</a>
	<br>
	<a href="/usuarios/cadastroProfessor">Cadastro Professor</a>
	<br>
	<a href="/usuarios/cadastroSecretario">Cadastro Secretario</a>
	<br>
	<a href="/usuarios/cadastroParente">Cadastro Parente</a>
	<br>
	<br>
	<a href="/usuarios/busca">Buscar</a>
	<br>
	<form th:action="@{/logout}" name="logoutForm" method="post">
		<input type="submit" value="Sair"> <br>
	</form>
</select>
</body>
</html>