<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section layout:fragment="corpo">
		<style>
.btn-primary {
	display: inline-block;
	background-color: #000;
	background-image: linear-gradient(125deg, #064497, #3ce7d9);
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	padding: 8px 16px;
	border: none;
	width: 200px;
	cursor: pointer;
}
</style>
		<br>
		<h3>Boletim</h3>
		<div th:replace="fragment/mensagens"></div>
		<div th:if="${not #lists.isEmpty(diarios)}"
			class="table-wrapper-scroll-y my-custom-scrollbar">
			<br />

			<table class="table table-bordered table-striped mb-0">
				<tr
					style="color: white; background-image: linear-gradient(125deg, #064497, #3ce7d9);">
					<th>Materia</th>
					<th>1 bimestre</th>
					<th>2 bimestre</th>
					<th>3 bimestre</th>
					<th>4 bimestre</th>
					

				</tr>

				<tr th:each="f, itemStat : *{diarios}">

					<td th:text="*{diarios[__${itemStat.index}__].disciplina.nome}"
						class="form-control"></td>
						
					<td th:text="*{nota1[__${itemStat.index}__].nota}"></td>
					<td th:text="*{nota2[__${itemStat.index}__].nota}"></td>
					<td th:text="*{nota3[__${itemStat.index}__].nota}"></td>
					<td th:text="*{nota4[__${itemStat.index}__].nota}"></td>
					





				</tr>
			</table>
		</div>

	</section>

</body>
</html>