<!DOCTYPE html>
<html lang="pt" layout:decorate="~{layout2}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge" />
<meta name="viewport"
	content="width-device-width, initial-scale=1, shrink-to-fit=no" />
<title>Insert title here</title>
</head>
<body>	
	
	<section layout:fragment="corpo">
			<h1>Busca</h1>
	<a href="/usuarios/busca">Buscar Usuarios</a>
	<br>
	<a href="/disciplinas/buscaDisciplina">Buscar Disciplinas</a>
	<br>
	<a href="/turmas/buscaTurma">Buscar Turmas</a>
	<br>
	
		</section>	
	
</body>
</html>